<div id="<%= dom_id borrower %>" class="bnz-card <%= "warning" if borrower.has_bans_here? or not borrower.tos_accepted %>" data-controller="show-details">
    <div class="header">
        <div class="left">
            <%= link_to borrower_path(borrower), class: "name", data: { turbo_frame: "_top" } do %>
                <h4><%= borrower.fullname %></h4>
            <% end %>
            <% if borrower.has_bans_here? %>
                <div class="icon-before warning">gesperrt</div>
                <% c = borrower.conducts.order(Arel.sql "DATE(created_at + duration * interval '1 day') DESC").first %>
                <div class="date">
                    <% if c.permanent %>
                        dauerhaft
                    <% else %>
                        <%= "Bis #{l(c.created_at.to_date + c.duration.to_i, :format => "%a, %d.%m.%Y" )} "%>
                    <% end %>
                        
                </div>
            <% end %>
        </div>
        <div class="right">
            <%# BUG: email_token is nil when ActionMailer isn't configured (see git-bug cc7f2a6) %>
            <% if !borrower.tos_accepted && borrower.email_token.present? %>
                <%= link_to send_confirm_email_path(borrower.email_token), class: "btn btn-outline-secondary btn-sm", data: { turbo_stream: true } do  %>
                    <span class="icon-before reload">Bedingungen erneut senden</span>
                <% end %>
            <% end %>
            <% if can? :update, borrower %>
                <%= link_to 'bearbeiten', edit_borrower_path(borrower), class: "icon edit", data: { turbo_frame: "_top" } %>
            <% end %>
        </div>
    </div>
</div>