<header class="row">
    <div class="col-2">
    </div>
    <div class="col-7 bnz-tab-navigation d-flex align-items-stretch pt-3">
        <h3>Wähle die ausleihende Person</h3>
    </div>
    <div class="col-3 d-flex align-items-center">
        <%= render 'shared/user_menu' %>
    </div>
</header>

<div class="row">
    <div class="col-2 pt-3 d-flex justify-content-end align-items-start">
        <%= link_to "Ausleihe", root_path, class: "link-back link-dark" %>
    </div>
    <div class="col-7">
        <div class="p-3 bg-light mb-3 rounded">

          <%= form_tag( checkout_state_path(state: "borrower"), method: :get, data: { turbo: "true", controller: "autocomplete", "autocomplete-source-value": "/autocomplete/borrowers/"}) do %>
            <div class="input-group mb-3">
                <%= text_field_tag :b, params[:b], class: "form-control search-icon", id: "autoComplete-user", autocomplete: "off", placeholder: "Ausleihende suchen", data: { "autocomplete-target": "input"}%>    
            </div>
            <% end %>

            <% if @lending.borrower %>
                <div class="<%= "mb-4" if params[:b].present? %>">
                    <%= render partial: "result_borrower", locals: {borrower: @lending.borrower, lending: @lending } %>
                </div>
            <% end %>

            <div class="results borrowers">
                <% @borrowers.each do |borrower| %>

                    <% unless @lending.borrower && @lending.borrower.id == borrower.id %>
                        <%= render partial: "result_borrower", locals: {borrower: borrower, lending: @lending } %>
                    <% end %>

                <% end %>

                <% if @borrowers.empty? && params[:b].present? %>
                    <p><i class="text-muted">Keine ausleihenden Personen gefunden!</i></p>
                <% end %>
            </div>

        </div>

    </div>
    <div class="col-3">
        <%= render 'lending/sidebar_cart' %>
    </div>
</div>
