<div id="<%= dom_id borrower %>" class="bnz-card <%= "warning" if borrower.has_bans_here? or not borrower.tos_accepted %>" data-controller="show-details">
    <%= form_with model: lending, url: update_checkout_path("borrower") do |f| %>
        <div class="header <% if lending.borrower && lending.borrower.id == borrower.id %> in-cart<% end %>">
            <div class="left">
                <%= link_to checkout_borrower_path(borrower), class: "name" do %>
                    <h4><%= borrower.fullname %></h4>
                <% end %>

                <% unless borrower.tos_accepted %>
                    <div class="small text-muted">Registrierung nicht bestätigt</div>
                <% end %>

                <% if borrower.has_misconduct_here? %>
                    <% if borrower.conducts.where(department: current_user.current_department).last.banned? %>
                        <div class="icon-before warning">gesperrt</div>
                    <% else %>
                        <div class="icon-before warning">verwarnt</div>
                    <% end %>
                <% end %>

            </div>
            <div class="right">
                <a href="#" data-action="show-details#toggleDetails">Kurz-Info</a>
                <span class="vertical-divider"> </span>

                <%= f.hidden_field :borrower_id, value: borrower.id %>
                
                <% if not borrower.tos_accepted %>
                    <div class="icon add-to-cart disabled"></div>
                <% elsif lending.borrower && lending.borrower.id == borrower.id %>
                    <%= button_tag "auswählen", type: "submit", class: "icon in-cart", title: "Ausleihe abschließen" %>
                <% else %>
                    <%= button_tag "auswählen", type: "submit", class: "icon add-to-cart", title: "Ausleihende Person auswählen" %>
                <% end %>
            </div>
        </div>
        <div class="body d-none">
            <div class="inner">
                <div class="line">
                    <div class="email"><%= borrower.email %></div>
                    <div class="phone"><%= borrower.phone %></div>
                </div>
                <div class="line small">
                  <% if borrower.student? %>
                    <div><strong>Matrikelnr.:</strong> <%= borrower.student_id %></div>
                  <% else %>
                    <div><strong>Mitarbeiter/in</strong></div>
                  <% end %>
                  <% if borrower.id_checked %>
                    <div class="text-success">Ausweis geprüft</div>
                  <% else %>
                    <div class="text-danger">Ausweis nicht geprüft</div>
                  <% end %>
                  <% if borrower.insurance_checked %>
                    <div class="text-success">Haftpflicht geprüft</div>
                  <% else %>
                    <div class="text-danger">Haftpflicht nicht geprüft</div>
                  <% end %>
                  <% if borrower.tos_accepted %>
                    <div class="text-success">Nutzungsbedingungen akzeptiert</div>
                  <% else %>
                    <div class="text-danger">Nutzungsbedingungen nicht akzeptiert</div>
                  <% end %>
                </div>
                
                <% unless borrower.tos_accepted %>
                    <div class="line">
                      <%= link_to send_confirm_email_path(borrower.email_token), class: "btn btn-outline-secondary btn-sm", data: { turbo_stream: true } do  %>
                          <span class="icon-before reload">Registrierungsemail erneut senden</span>
                      <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>