<header class="row">
    <div class="col-2">
    </div>
    <div class="col-7 bnz-tab-navigation pt-3">
        <h4>Hallo <%= @lending.borrower.firstname %>,</h4>
        <p>Du hast <%= t(@lending.department.genderize('in_the')) %> <span class="fw-bold"><%= @lending.department.name %></span> am <%= l(@lending.lent_at, format: "%d.%m.%y") %> folgende Artikel ausgeliehen:</p>
    </div>
    <div class="col-3 d-flex align-items-center">
    </div>
</header>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-7">
        <div class="p-3 bg-light mb-3 rounded">

            <% @lending.line_items.each_with_index do |line_item, line_item_index| %>
                <div class="bnz-card" data-controller="show-details">
                    <div class="header">
                        <div class="left">
                            <span class="fw-bold"><%= line_item.item.parent_item.name %></span>
                            <% if line_item.item.uid.present? %>
                                <%= line_item.item.uid %>
                            <% else %>
                                <%= line_item.quantity %>
                                x
                            <% end %>
                            
                        </div>
                        <div class="right">
                            <% if line_item.item.parent_item.description.present? or line_item.item.parent_item.files.attached? %>
                                <a href="#" data-action="show-details#toggleDetails">Details</a>
                            <% end %>
                        </div>
                    </div>
                    <div class="body d-none">
                        <div class="inner">
                            <% if line_item.item.parent_item.description.present? %>
                                <div class="mb-2">
                                    <div class="form-label">
                                        Beschreibung
                                    </div>
                                    <div>
                                        <%= render_markdown(line_item.item.parent_item.description) %>
                                    </div>
                                </div>
                            <% end %>

                            <% if line_item.item.parent_item.files.attached? %>
                                <div class="mb-2">
                                    <div class="form-label">Dateien</div>
                                    <ul class="files">
                                        <% line_item.item.parent_item.files.each do |file| %>
                                            <li>
                                                <a href="<%= url_for(file) %>" title="<%= file.filename %>" class="filename icon-before <%= file.content_type.include?("image") ? "picture" : "document" %>">
                                                  <span><%= file.filename %></span>
                                                </a>
                                            </li>
                                        <% end %>
                                    </ul>
                                </div>
                            <% end %>

                        </div>
                        <% if line_item.item.parent_item.accessories.any? %>
                            <% line_item.item.parent_item.accessories.each do |accessory| %>
                                <div class="item">
                                    <div class="left"><%= accessory.name %></div>
                                    <div class="right">
                                        <div class="form-check-inline me-0">
                                            <input class="form-check-input" type="checkbox" disabled value="">
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                    
                </div>
            <% end %>

            <hr class="divider">

            <div class="<%= "mb-2" if @lending.note.present? %>">
                <div class="left"> Rückgabe <%= t(@lending.department.genderize('in_the')) %> <span class="fw-bold"><%= @lending.department.name %></span> am <span class="fw-bold"><%= l(@lending.lent_at.to_date + @lending.duration.days, format: "%a. %d.%m.%y") %></span></div>
            </div>

            <% if @lending.note.present? %>
            <div>
                <div class="form-label">Anmerkung zur Ausleihe</div>
                <div>
                    <%= @lending.note %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <div class="col-3">
    </div>
</div>