<div id="<%= dom_id department %>">
  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= department.room %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= department.note %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= department.time %>
  </p>

  <p>
    <strong>Default lending duration:</strong>
    <%= department.default_lending_duration %>
  </p>

  <p>
    <strong>Staffed:</strong>
    <%= department.staffed %>
  </p>

  <p>
    <strong>Staffed at:</strong>
    <%= department.staffed_at %>
  </p>

</div>
