<header class="row">
    <div class="col-2">
    </div>
    <div class="col-7 bnz-tab-navigation d-flex align-items-stretch pt-3">
        <h4>Artikeldetails</h4>
    </div>
    <div class="col-3 d-flex align-items-center">
        <%= render 'shared/user_menu' %>
    </div>
</header>

<div class="row">
    <div class="col-2 pt-3 d-flex justify-content-end align-items-start">
        <%= link_to "Zurück", lending_path, class: "link-back link-dark" %>
    </div>
    <div class="col-7">
        <div class="p-3 bg-light rounded mb-3 w-100">
          <%= render partial: "bnz_parent_item", locals: {parent_item: @parent_item} %>
        </div>
    </div>
    <div class="col-3">
      <% if can?(:move, @parent_item) %>
        <% movable_departments = current_user.department_memberships
                                   .where.not(role: :deleted)
                                   .joins(:department)
                                   .map(&:department)
                                   .reject { |d| d.id == @parent_item.department_id } %>
        <% if movable_departments.any? %>
          <div class="p-3 bg-light rounded mb-3">
            <h6>Artikel verschieben</h6>
            <% if @parent_item.has_lent_items? %>
              <p class="text-muted small">Artikel mit aktiven Ausleihen können nicht verschoben werden.</p>
            <% else %>
              <%= form_with url: move_parent_item_path(@parent_item), method: :patch do |f| %>
                <%= f.select :target_department_id,
                      movable_departments.map { |d| [d.name, d.id] },
                      {},
                      class: "form-select form-select-sm mb-2" %>
                <%= f.submit "Verschieben", class: "btn btn-sm btn-secondary" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
